{% block title %}Author Added{% endblock %}

{% block body %}
    <h1>Author Added</h1>
    <p>Author with ID {{ author.id }} has been added.</p>
    <p>Username: {{ author.username }}</p>
    <p>Email: {{ author.email }}</p>
{% endblock %}